<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<h1>IIM MUMBAI</h1>
	<h1 th:text="${nm}" ></h1>
	<h1 th:text="${#strings.toUpperCase(nm)}" ></h1>
	<h1>Owner<span th:text="${nm}"></span></h1>
	<h1>length<span th:text="${#strings.length(nm)}"></span></h1>
	<div th:with="a=5 ,b=11,n=${nm}">
		<h1>value of a<span th:text="${a}"></span></h1>
		<h1>sum=<span th:text="${a}+${b}"></span></h1>
		
	</div>
</body>
</html>