<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">

<head>
	<meta charset="UTF-8" />
	<title>example</title>
</head>

<body>
	<h1>use <span th:style="${isActive}? 'color:green' :'color:red' "
			th:text="${isActive}? 'Active' : 'NotActive' "></span></h1>
	<h1 th:if="${gender}=='m'">male</h1>
	<h1 th:unless="${gender}=='m'">female</h1>
	<h1 th:text="${#lists.size(list)}" </h1>
		<div th:switch="${#lists.size(list)}">
			<p th:case="'0'">list enpty</p>
			<p th:case="'1'">list has one element</p>
			<p th:case="'*'">more than one element</p>
		</div>
</body>

</html>